body.dark-mode {
  --button-disabled-background: rgba(63, 67, 74, .2);
  --button-secondary-background: var(--rcx-button-colors-secondary-background-color);
  --color-darker: #272c33;
  --component-color: var(--rc-color-primary-dark);
  --content-background-color: var(--color-darkest);
  --flex-nav-background: var(--color-dark);
  --header-background-color: var(--color-darkest);
  --info-font-color: var(--color-gray-light); /* #a0a0a0; */
  --input-icon-color: var(--color-white);
  --input-text-color: var(--color-gray-lightest);
  --message-box-background: rgba(255,255,255,0.1);
  --message-box-editing-color: var(--color-dark-medium);
  --message-box-markdown-hover-color: var(--color-gray-light);
  --message-box-user-typing-color: var(--color-gray-lightest);
  --message-box-user-typing-user-color: var(--color-gray-lightest);
  --popover-item-color: var(--color-white);
  --popover-title-color: var(--color-white);
  --popup-list-background: var(--color-dark);
  --primary-action-color: #1d74f5;
  --primary-font-color: var(--color-white);
  --rc-color-primary-lightest: var(--color-dark-medium);
  --rc-color-primary: var(--color-gray-lightest);
  --rcx-button-colors-off-active-background-color: var(--color-black);
  --rcx-button-colors-off-background-color: var(--color-dark);
  --rcx-button-colors-off-disabled-background-color: var(--color-dark);
  --rcx-button-colors-off-focus-background-color: var(--color-black);
  --rcx-button-colors-off-hover-background-color: var(--color-darkest);
  --rcx-button-colors-primary-disabled-background-color: rgba(29, 116, 245, .2);
  --rcx-button-colors-primary-disabled-border-color: transparent;
  --rcx-button-colors-primary-hover-disabled-background-color: var(--color-dark-blue);
  --rcx-button-colors-secondary-background-color: #3f434a;
  --rcx-button-colors-secondary-border-color: transparent;
  --rcx-button-colors-secondary-color: var(--info-font-color);
  --rcx-button-colors-secondary-disabled-background-color: rgba(63, 67, 74, .2);
  --rcx-button-colors-secondary-disabled-border-color: transparent;
  --rcx-button-colors-secondary-disabled-color: var(--color-gray);
  --rcx-button-colors-secondary-hover-background-color: #383c43;
  --rcx-button-colors-secondary-hover-border-color: transparent;
  --rcx-color-foreground-default: var(--info-font-color);
  --rcx-color-foreground-info: var(--info-font-color);
  --rcx-color-surface: var(--color-dark);
  --rcx-input-colors-color: var(--color-gray-lightest);
  --rcx-input-colors-disabled-background-color: var(--color-dark-medium);
  --rcx-input-colors-disabled-color: var(--color-gray);
  --rcx-tag-colors-disabled-background-color: var(--rc-color-primary-dark);
  --rcx-tooltip-text-color: var(--color-white);
  --secondary-background-color: var(--color-dark);
  --sidebar-background-light-active: #4a525c;
  --sidebar-background-light-hover: #414952;
}

@-webkit-keyframes highlight {
  from {
     background-color: #1e74f6
  }
}
@keyframes highlight {
  from {
     background-color: #1e74f6
  }
}

body.dark-mode .content-background-color {
  background-color: var(--color-darkest);
}

body.dark-mode .background-component-color {
  background-color: var(--color-dark-blue);
}

body.dark-mode .color-primary-action-color {
  color: var(--color-white);
}

body.dark-mode .message.active, .message:hover {
  background-color: var(--color-darker);
}

body.dark-mode .message-actions {
  background-color: var(--content-background-color);
  border-color: var(--color-dark);
  color: var(--primary-font-color);
}

body.dark-mode .rcx-tag--secondary {
  background-color: var(--color-dark);
  color: var(--primary-font-color);
}

body.dark-mode .message-actions__button:hover, body.dark-mode .message-actions__menu:hover {
  background-color: var(--color-dark);
}

body.dark-mode .rc-popover__content {
  background-color: var(--color-dark);
  box-shadow: 0 0 2px var(--color-dark-20);
  color: var(--primary-font-color);
}

body.dark-mode .rc-header--room {
  border-bottom-color: var(--color-dark-medium);
}

body.dark-mode .rc-member-list__counter {
 color: var(--primary-font-color);
}

body.dark-mode .rc-member-list__user.active, .rc-member-list__user:hover {
 background-color: var(--color-darker);
}

body.dark-mode .rc-message-box__container {
  background-color: var(--message-box-background);
}

body.dark-mode .rc-header__data {
  color: var(--primary-font-color);
}

body.dark-mode .message .reactions > li {
  background-color: var(--message-box-background);
  border-color: var(--rc-color-primary-lightest);
}

body.dark-mode .message .title .is-bot,
body.dark-mode .message .title .role-tag,
body.dark-mode .message.new-day::before {
  background-color: var(--rc-color-primary-dark);
}

body.dark-mode .message.new-day::after {
  border-color: var(--rc-color-primary-dark);
}

body.dark-mode .rc-old .rc-message-box .reply-preview {
  background-color: var(--color-darker);
}

body.dark-mode select {
  background-color: var(--color-dark);
}

body.dark-mode .rc-modal {
  background-color: var(--color-darkest);
  color: var(--primary-font-color);
}

body.dark-mode .contextual-bar.contextual-bar {
  background-color: var(--sidebar-background);
  border-left-color: var(--color-dark-medium);
}

body.dark-mode .contextual-bar .message.active, body.dark-mode .contextual-bar .message:hover {
  background-color: var(--color-dark-medium);
}

body.dark-mode .permissions-manager .permission-grid .role-name, body.dark-mode .admin-table-row {
  background-color: var(--color-dark);
}

body.dark-mode .permissions-manager .permission-grid .id-styler {
  color: inherit;
}

body.dark-mode .rcx-table--sticky .rcx-table__cell--header, .rcx-table__row,
body.dark-mode .rcx-table--striped .rcx-table__row:nth-child(2n) {
  background-color: var(--color-dark);
}

body.dark-mode .rcx-table--striped .rcx-table__body {
  color: var(--info-font-color);
}

body.dark-mode .rcx-options {
  box-shadow: 0 0 2px var(--color-dark-20);
}

body.dark-mode .rcx-option--focus:not(.rcx-option--selected), body.dark-mode .rcx-option:hover:not(.rcx-option--selected) {
  background-color: var(--sidebar-background-light-hover);
}

body.dark-mode .rcx-option--selected {
  background-color: var(--sidebar-background-light-active);
}

body.dark-mode .rcx-options:hover .rcx-option--focus:not(.rcx-option--selected):not(:hover) {
  background-color: initial;
}

body.dark-mode .alert-warning {
  color: #444444;
}

body.dark-mode .rcx-callout--type-warning, body.dark-mode .rcx-callout--type-warning .rcx-callout__wrapper {
  color: black;
}

body.dark-mode .rc-button {
  color: var(--rcx-input-colors-color);
}

/* Admin */
body.dark-mode .admin-table-row {
   background-color: #363d4a;
}

body.dark-mode .sidebar-light .sidebar-item {
  color: inherit;
}

body.dark-mode .admin-table-row:nth-child(even) {
  background-color: #485061;
}

body.dark-mode .rcx-accordion-item__bar[tabindex].hover, body.dark-mode .rcx-accordion-item__bar[tabindex]:hover {
  background-color: var(--sidebar-background-light-hover);
}

body.dark-mode .rcx-table__row--action:focus, body.dark-mode .rcx-table__row--action:hover {
  background-color: #4a525c; /* --rcx-color-neutral-200 */
}

body.dark-mode .rcx-table__cell--align-start, body.dark-mode .rcx-table__cell--align-end {
  background-color: var(--color-dark-medium) !important;
}

body.dark-mode .rcx-\@9jfjl,
body.dark-mode .rcx-\@16ef2pm,
body.dark-mode .rcx-\@1l3asra,
body.dark-mode .rcx-\@1wm5na {
  color: var(--info-font-color) !important; /* --rcx-color-neutral-800 */
}

body.dark-mode .rcx-\@1oytvro {
  background-color: var(--color-dark);
}

body.dark-mode .rcx-\@dlop43 {
  color: var(--primary-font-color) !important;
}

body.dark-mode .rcx-\@wi5ocu {
  color: var(--primary-font-color) !important;
}

body.dark-mode .rcx-\@1usu1xd:hover {
  background-color: var(--color-dark);
}

/* code coloring */
body.dark-mode .rc-old .code-colors,
body.dark-mode .rc-old code.inline {
  background: var(--color-dark-100);
  color: var(--color-gray-light);
}

body.dark-mode .rcx-\@14p1wdd code {
  background-color: transparent;
}

body.dark-mode .hljs-selector-id,
body.dark-mode .hljs-keyword {
  color: var(--color-light-blue);
}

body.dark-mode .hljs-selector-id,
body.dark-mode .hljs-keyword {
  color: var(--color-light-blue);
}

body.dark-mode .hljs-title {
  color: var(--color-gray-light);
}

body.dark-mode .hljs-literal,
body.dark-mode .hljs-number,
body.dark-mode .hljs-attr,
body.dark-mode .hljs-template-variable,
body.dark-mode .hljs-variable {
  color: var(--color-dark-green);
}

body.dark-mode .hljs-tag,
body.dark-mode .hljs-name {
  color: var(--color-light-blue);
}

body.dark-mode .hljs-selector-tag {
  color: var(--color-green);
}

body.dark-mode .hljs-doctag,
body.dark-mode .hljs-string {
  color: var(--color-red);
}

body.dark-mode .hljs-attribute,
body.dark-mode .hljs-type,
body.dark-mode .hljs-number {
  color: var(--color-orange);
}

body.dark-mode .hljs-addition {
  background-color: #1e3a21;
}

body.dark-mode .hljs-deletion {
  background-color: #472d2e;
}